
:root {
  --gainsboro: #E0E5E8ff;
  --white: #FBFCFCff;
  --black: #242424;
  --quick-silver: #9EA0A3ff;
  --bright-navy-blue: #027ED8ff;
  --davys-grey: #51545Cff;
  --cadet-grey: #99A2A8ff;
  --emerald: #16D170ff;
  --red: #ff0000;



  // Font
  --mont-font: 'Lato', sans-serif;

  // Font sizes
  --font-size-xxs: .75rem;
  --font-size-xs: small;
  --font-size-s: .875rem;
  --font-size: 1rem;
  --font-size-m: var(--font-size);
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;

  //line-hieght
  --line-height-26: 1.625rem;

  // Font Weight

  --font-weight-blod: 700;

}